<a href="https://colab.research.google.com/github/juanandres-montero/microeconometria/blob/main/Lab_002_Listas%2C_tuplas%2C_sets_If_y_Else.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>
    <img src="logo EEC grande.png" width="396" height="161"><br>
    <b>EC4300 MICROECONOMETRÍA</b><br>
    <b>Asist: Juan Andrés Montero Zúñiga</b>
<br><br>
<b> Laboratorio #2:</b>
<br>    
<div style="font-size:250%;color:white; background-color: #0064b0;">Introducción a Python</div>
<div style="font-size:175%;color:white; background-color: #0064b0;"> Listas, Tuplas, Sets. If y Else</div>    

</center>
<br><br>
<p style="font-size:120%;">Este cuaderno toma como fuente los cuadernos de Jupyter desarrollados por Phd. Randall Romero. Se toma el
    <a href="https://colab.research.google.com/github/randall-romero/EC4301/blob/master/Laboratorios/01--Introducci%C3%B3n-a-Python/Python-03--Colecciones.ipynb"> Lab de python 03</a>
    y también
    <a href="https://colab.research.google.com/github/randall-romero/EC4301/blob/master/Laboratorios/01--Introducci%C3%B3n-a-Python/Python-04--Control%20de%20ejecuci%C3%B3n.ipynb"> Lab de python 04  </a>


</p>

<i> Última actualización del cuaderno original: 2020-Ago-18
    <br>
    Creado: 2024-Abr-08
</i>

<hr>

## Tipos de colecciones
Los tipos de colecciones más utilizados son
* `list` una lista ordenada y mutable de valores
* `tuple` una lista ordenada e inmutable de valores
* `set` una lista mutable pero no ordenada de valores
* `dict` un diccionario no ordenado

# Listas

## Haciendo listas
Para hacer una lista, enumeramos sus elemento entre un par de ```[ ]```

In [ ]:
seasons = ['Spring', 'Summer','Autumn','Winter']
seasons

['Spring', 'Summer', 'Autumn', 'Winter']

### Para obtener los datos:

In [ ]:
seasons[-3]

'Summer'

### Para modificar los datos:

## Manipulando listas

##### ```list.append(x)``` Agrega el elemento ```x``` al final de la lista

In [ ]:
seasons[2] = 'Fall'
seasons

['Spring', 'Summer', 'Fall', 'Winter']

In [ ]:
seasons.append('Invierno')

##### ```list.insert(i,x)``` Inserta el elemento ```x``` en la posición de índice ```i```

In [ ]:
seasons.insert(2,'Otoño')
seasons

['Spring', 'Summer', 'Otoño', 'Fall', 'Winter', 'Invierno']

##### ```list.remove(x)``` Elimina el primer elemento ```x``` de la lista

In [ ]:
seasons.remove('Winter')
seasons

['Spring', 'Summer', 'Otoño', 'Fall', 'Invierno']

##### ```list.pop(i)``` Eliminina el elemento en la posición ```i``` y lo retorna

In [ ]:
seasons.pop(3)
seasons

['Spring', 'Summer', 'Otoño', 'Invierno']

# Tuplas

Una tupla es similar a una lista, pero una vez que se define **sus elementos no pueden cambiarse**. Se define enumerando sus elementos entre un par de  ```( )```

In [ ]:
seasons = ('Spring', 'Summer','Autumn','Winter')

Para obtener datos:

In [ ]:
seasons[2]

'Autumn'

In [ ]:
seasons[-3]

'Summer'

Sin embargo, los datos no se pueden modificar

In [ ]:
seasons[2] = 'Fall'

TypeError: 'tuple' object does not support item assignment

Las tuplas también entienden de franjas

In [ ]:
M = ('Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', \
'Jul','Aug','Sep','Oct','Nov','Dec')

In [ ]:
# To split the months into quarters:
Q1, Q2, Q3, Q4 = M[:3], M[3:6], M[6:9], M[9:]
Q2

('Apr', 'May', 'Jun')

In [ ]:
M

('Jan',
 'Feb',
 'Mar',
 'Apr',
 'May',
 'Jun',
 'Jul',
 'Aug',
 'Sep',
 'Oct',
 'Nov',
 'Dec')

# Conjuntos
Para hacer un conjunto, enumeramos sus elementos entre ```{ }```. Alternativamento, transformamos una lista en un conjunto usando la función ```set```.

In [ ]:
M2 = {2, 4, 6, 8, 10, 12, 14}
M3 = set([3, 6, 9, 12, 15])

##### ```set.add(x)``` Agrega un elemento ```x``` al conjunto

In [ ]:
M2.add(16)
M2

{2, 4, 6, 8, 10, 12, 14, 16}

##### ```set.update([x,y,z])``` Agrega varios elementos al conjunto

In [ ]:
M3.update([18, 21])
M3

{3, 6, 9, 12, 15, 18, 21}

##### ```set.copy()``` Retorna una copia del conjunto

In [ ]:
M2c = M2.copy()
M2c

{2, 4, 6, 8, 10, 12, 14, 16}

##### ```set.pop()``` Elimina al azar un elemento del conjunto

In [ ]:
M2c.pop()

2

In [ ]:
M2c

{4, 6, 8, 10, 12, 14, 16}

##### ```set.discard(x)``` Elimina el elemnto ```x``` del conjunto (si es miembro)

In [ ]:
M2c.discard(10)
M2c

{4, 6, 8, 12, 14, 16}

##### ```set1.union(set2)``` Retorna elementos que aparecen en cualquiera de los conjuntos

In [ ]:
M2.union(M3)

{2, 3, 4, 6, 8, 9, 10, 12, 14, 15, 16, 18, 21}

##### ```set1.intersection(set2)``` Retorna elementos que aparecen en los dos conjuntos

In [ ]:
M3.intersection(M2)

{6, 12}

##### ```set1.difference(set2)``` Retorna elementos del conjunto ```set1``` que no estén en ```set2```

In [ ]:
M2.difference(M3)

{2, 4, 8, 10, 14, 16}

# Diccionarios
* En Python un “diccionario” es un contenedor de datos que puede almacenar múltiples elementos de datos como una lista de pares `llave:valor`.
* A diferencia de las listas y tuplas, cuyos datos se obtienen por referencia a su índice, los valores almacenados en un diccionario se obtienen por referencia a su llave.
* La llave debe ser única en el diccionario, usualmente se una un texto aunque también puede usarse números.

In [ ]:
king = {'name': 'John Snow',
        'age': 24,
        'home': 'Winterfell'}

In [ ]:
king

{'name': 'John Snow', 'age': 24, 'home': 'Winterfell'}

Los diccionarios se pueden crear con la función ```dict```:

In [ ]:
friend = dict(name='Samwell Tarly', age=22)

In [ ]:
friend

{'name': 'Samwell Tarly', 'age': 22}

Obteniendo datos

In [ ]:
king['age']

24

Modificando datos:

In [ ]:
king['home'] = 'Castle Black'
king

{'name': 'John Snow', 'age': 24, 'home': 'Castle Black'}

Agregando datos:

In [ ]:
king['lover'] = 'Ygritte'
king['knows'] = None

In [ ]:
king

{'name': 'John Snow',
 'age': 24,
 'home': 'Castle Black',
 'lover': 'Ygritte',
 'knows': None}

Borrando datos:

In [ ]:
del king['lover'] # killed by Olly!

In [ ]:
king

{'name': 'John Snow', 'age': 24, 'home': 'Castle Black', 'knows': None}

Para almacenar un texto muy largo, podemos encerrarlo en triples comillas dobles:

In [ ]:
king['lover'] = """Daenerys Stormborn of the House Targaryen, First of Her Name,
The Unburnt, Queen of the Andals and the First Men, Khaleesi of the Great Grass Sea,
Breaker of Chains, and Mother of Dragons"""

In [ ]:
print(king['lover'])

Daenerys Stormborn of the House Targaryen, First of Her Name,
The Unburnt, Queen of the Andals and the First Men, Khaleesi of the Great Grass Sea,
Breaker of Chains, and Mother of Dragons



---

# **Ahora haremos un repaso sobre los comandos If y Else junto con una introducción a interaciones con listas**

* Los programas usualmente se ejecutan corriendo cada instrucción en el orden en que aparecen
* Pero en ocasiones, necesitamos ejecutar las  instrucciones de otra manera.
* Para ello, usamos instrucciones de control de ejecución:
- ```if, elif, else``` ejecuta algunas instrucciones una vez, pero solo si cierta condición es verdadera
- ```while``` ejecuta algunas instrucciones varias veces, solo mientras que cierta condición sea verdadera
- ```for``` ejecuta algunas instrucciones varias veces, iterando sobre un iterable
- ```continue``` brinca a la siguiente iteraciónde un bucle  `while` o `for`
- ```break``` detiene la ejecución de un bucle `while` o `for`

# Ejecución condicional con `if`

* La palabra clave ```if``` evalua una expresión para obtener un valor `True` o `False`.
* Esto permite que un programa proceda en diferentes direcciones de acuerdo con el resultado del test.
* La expresión evaluada debe ser seguida de dos puntos ```:```, luego las instrucciones que se evaluan si el test es verdadero deben escribirse en líneas separadas e indentadas respecto a la línea que contiene el ```if```.
* El tamaño de la indentación no es importante, pero debe ser el mismo en cada línea.
* Por tanto, la sintaxis se ve así:
```
if test-expression:
   statements-to-execute-when-test-expression-is-True
   statements-to-execute-when-test-expression-is-True
```

Por ejemplo, para determinar si un número ```m``` es par o impar:

In [ ]:
m = 7
if m % 2 == 0:
    print('m es par')
else:
    print('m es impar')

m es impar

El test no necesariamente tiene que ser un boolean. El número `0`, el valor `None`, y un texto vacío `''`, lista vacía `[]`, tupla vacía `()` o conjunto vacío `{}`, todos son interpretados como  `False`.

In [ ]:
if m % 5:
    print('m is not divisible by 5')
else:
    print('m is divisible by 5')

m is not divisible by 5

In [ ]:
horas = 10

if horas < 12:
    ampm = 'a.m.'
else:
    ampm = 'p.m.'

ampm

'a.m.'

In [ ]:
ampm1 = 'a.m.' if horas < 12 else 'p.m.'
ampm1

'a.m.'

In [ ]:
# Extra
from datetime import datetime
import zoneinfo

zona = zoneinfo.ZoneInfo('America/Costa_Rica')

hora = datetime.now(zona)
print("El día y hora actual:", hora)

# Solo la hora
hora_cr = hora.strftime('%H:%M:%S')
print("Hora actual:", hora_cr)

El día y hora actual: 2024-04-08 16:06:53.326469-06:00
Hora actual: 16:06:53

Mismo ejercicio de A.M.- P.M. pero con la hora actual

In [ ]:
hora = hora.hour
ampm = 'a.m.' if hora < 12 else 'p.m.'
ampm

'p.m.'

## Examinando condiciones
Algunas veces necesitamos asignar un valor dependiendo de una condición, como así
```
if testExpression:
    x = ifTrueThis
else:
    x = ifFalseThis
```
Esto es equivalente a :
```
x = ifTrueThis if testExpression else ifFalseThis
```
Por ejemplo

In [ ]:
n = 17
z = "n es impar" if n % 2 else "n es par"
z

'n es impar'

# Iterando `while` true i

* Un bucle es una pieza de código que automáticamente se repite.
* Una ejecución completa de todas las instrucciones dentro de un bucle se llama una “iteración”.
* El tamaño del buche se controla con un test condicional que se ejecuta dentro del bucle.
* Mientras que la expresión evaluada sea  ```True``` el bucle continuará –-- hasta que la expresión sea ```False```, punto en el cual el bucle termina.
* En programas de Python, la palabra clave ```while``` crea un bucle. Es seguida por la expresion a evaluar y dos puntos ```:```.
* Las instrucciones que se deben evaluar cuando el test pasa (sea ```True```) deben seguir abajo en líneas separadas, y cada línea debe estar indentada con el mismo espacio respecto a la línea que tiene el ```while```.
* Este bloque de instrucciones debe incluir una instrucción que en algún momento cambie el resultado del test a ```False``` --- de lo contrario el bucle será infinito.
* Por tanto, la sintaxis se ve así:

```
while test-expression :
    statements-to-execute-when-test-expression-is-True
    statements-to-execute-when-test-expression-is-True
```

Por ejemplo, para obtener la serie de Fibonacci hasta 100

In [ ]:
a, b = 0, 1

while b < 100:
    print(b, end=', ')
    a, b = b, a + b

1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89,

Un enfoque distinto, pero que incluye el primer elemnto que se pasa de 100

In [ ]:
fib = [1, 1]

while fib[-1]<100:
    fib.append(fib[-2] + fib[-1])
else:
    fib.pop()


fib

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

## La función ```range```
Algunas veces necesitamos iterar sobre los enteros. Podemos generarlos con la función ```range```.

Para ahorrar memoria, ```range``` retorna sus elementos uno a la vez, solo cuando se necesita, para evitar usar demasiada memoria. En los ejemplos que siguen convertimos objetos ```range``` en listas para poder imprimir sus elementos.

`range(n)` retorna enteros de ```0``` a ```n-1```

In [ ]:
list(range(6))

[0, 1, 2, 3, 4, 5]

`range(m, n)` retorna enteros de ```m``` a ```n-1```

In [ ]:
list(range(2,8))

[2, 3, 4, 5, 6, 7]

`range(m, n, s)` retorna enteros de ```m``` a ```n-1```, de ```s``` en ```s```

In [ ]:
list(range(2,9,3))

[2, 5, 8]

También podemos crear un ```range``` con el orden invertido:

In [ ]:
list(range(4, 0,-1))

[4, 3, 2, 1]

### Comparando la cantidad de memoria necesaria

In [ ]:
from sys import getsizeof

getsizeof(list(range(1_000_000)))

8000056

In [ ]:
getsizeof(range(1_000_000))

48

# Iterando sobre los elementos de un iterable: `for`

En Python la palabra clave ```for``` itera sobre todos los elementos de cualquier iterable que aparezca luego de la palabra clave ```in```.

La sintaxis se ve así:

```
for item in iterable :
    statements-to-execute-on-each-iteration
    statements-to-execute-on-each-iteration
```    

Ejemplos de iterables:
* rangos
* listas, tuplas, conjutos, diccionarios
* textos
* archivos de texto
* arreglos de números

### Iterando sobre textos

In [ ]:
for letter in 'abcd':
    print(letter.upper())

A
B
C
D

### Iterando sobre enteros

In [ ]:
for k in range(6):
    print(k**2)

0
1
4
9
16
25

## *List comprehensions*

* *List comprehension* es una manera elegante de definir una lista basado en otra lista (un iterable).
* Generalmente son más compactas y rápidas que los bucles tradicionales.
* No obstante, debemos evitar *list comprenhension* demasiado largas para que el código sea claro.

### Caso más sencillo

A veces necesitamos hacer una lista de elementos a partir de otro iterable, como con este código

```
lst = list()
for item in iterable:
    lst.append(expression)
```

Esto puede hacer más sucintamente con

```
lst = [expression for item in iterable]
```

Por ejemplo, para obtener una lista de los cuadrados de los números del 1 al 14:

In [ ]:
miscuadrados = []

for k in range(1,15):
    miscuadrados.append(k**2)

miscuadrados

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [ ]:
miscuadrados2 = [k**2 for k in range(1,15)]
miscuadrados2

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196]

In [ ]:
[k**2 for k in range(1,15) if k%2==1]

[1, 9, 25, 49, 81, 121, 169]

Para contar las letras en una lista de palabras

In [ ]:
food = ['apple','banana','carrot','grape','kiwi']

[len(item) for item in food]

[5, 6, 6, 5, 4]

Por ejemplo, para generar los cuadrados de los números pares menores que 12

In [ ]:
lista1 = list()

for k in range(1,12):
    if k % 2 == 0:
        lista1.append(k**2)

lista1

[4, 16, 36, 64, 100]

In [ ]:
lista2 = [k**2 for k in range(1, 12) if not k%2]
lista2

[4, 16, 36, 64, 100]

# **Listo! Ahora veremos algunas herramientas de python que utilizan lo que hemos aprendido**

*   Unir páginas de pdf -> <a href="https://colab.research.google.com/github/juanandres-montero/Tools/blob/main/Merge_pdf_pages_in_one.ipynb"> merge pdf </a>
*   Hacer spam -> <a href="https://colab.research.google.com/github/juanandres-montero/Tools/blob/main/spam.ipynb"> spam</a>
*   Extraer datos personales del TSE en excel -> <a href="https://colab.research.google.com/github/juanandres-montero/DataAnalysis/blob/main/Obtener_datos_del_TSE_por_cedulas.ipynb">TSE a Excel</a>
*   Ver mi árbol familiar -> <a href="https://colab.research.google.com/github/juanandres-montero/arbolfamiliar_CostaRica/blob/main/Arbol_familiar_no_web_app.ipynb">Árbol Familiar de Costa Rica</a>
*   convertir libros escaneados a pdf con capacidad de búsqueda -> <a href="https://colab.research.google.com/github/juanandres-montero/Tools/blob/main/Convertir_libros_escaneados_con_OCR.ipynb"> Convertir libros escaneados con OCR </a>